/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  display: flex;
  justify-content: center;
  height: 100%;
  background: #e7e6e6;
}
app-root{
  background: #e7e6e6;
}